h1, h2 {
	font-family: 'Playfair Display', serif;
}

h3, h4, p, ul, li, footer {
	font-family: 'Fira Sans Condensed', sans-serif;
}

h1 {
	font-weight: 700;
	letter-spacing: 0.4em;
	font-size: 2.5em;
}

h2 {
	font-weight: 700;
	letter-spacing: 0.2em;
	font-size: 3em;
}

h3 {
	font-weight: 400;
	letter-spacing: 0.2em;
	font-size: 1.75em;
}

h4 {
	font-weight: 300 italic;
	letter-spacing: 0.1em;
	font-size: 1.35em;
	line-height: 2;
	color: #474747;
}

p {
	line-height: 2;
	padding: 0em 10em 0em 10em;
	font-size: 1.25em;
	margin-top: 1em;
}

img{
	width: 100%;
}

ul {
	list-style-type: none;
}
.nav-container {
	background-color: white;
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1em;
	justify-content: flex-start;
}

.header {
	padding-left: 1em;
	flex: 2;
}

.navigation {
	flex: 1;
	padding: 0.5em;
	position: relative;
}

.sitebody {
	background-color: #f2f2f2;
	padding: 1em 1em 0em;
	justify-content: center;
	position: scroll;
}

.main-content {
	background-color: #f2f2f2;
	padding: 1em;
	justify-content: center;
}

#main-featured-content {
	background-color: #f2f2f2;
	padding: 1em;
	align-items: flex-end;
}

.featuredtext {
	margin: 1em;
	text-align: center;
	padding: 7em 12em 2.5em 12em;
}

#featured-text {
	margin-bottom: 3em;
	font-weight: 400;
}

.body-text {
	text-align: left;
	font-weight: 300;
	margin-bottom: 3em;
}

.footer {
	display: flex;
	justify-content: center;
	border-top: solid;
	border-width: 1px;
	bottom: 0;
}

.footer-text {
	display: inline-block;
	padding: 0.5em;
	font-weight: 300;
	margin-bottom: 0em;
}