ul li {
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: 'Arapey', serif;
	letter-spacing: 5px;
	font-weight: 200;
	text-transform: lowercase;
}

h3 { 
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 2px;
	line-height: 1em;
}

h2 {
	font-family: 'Arapey', serif;
	letter-spacing: 5px;
	font-weight: 400;
	margin-top: 2em;
	text-transform: lowercase;
}

.heading {
	display: inline-block;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

div {
	position: fixed;
	align-content: center;
	align-items: center;
	padding: 3em;
	display: flex;
	width: auto;
	height: 20vh;
	transition: height 0.5s;
}

.projects:hover, .exercises:hover, .responses:hover, .codeacademy:hover {
	height: 25vh;

}

.body {
	display: flex;
	clear: flex;
	bottom: 3em;
	width: 90vw;

}

.projects {
	position: relative;
	flex: 1;
	background-color: #105e8c;
	cursor: pointer;
}

.projectsexpanded {
	bottom: 48vh;
	left: 53.75%;
	display: none;
	width: 40vw;
	height: 25vh;
	z-index: 1;
	padding-top: 1.5em;
	padding-left: 1em;
	background-color: #105e8c;
	position: absolute;
}

.projectsexpanded li {
	line-height: 2em;
	margin-left: 2em;
}

.projectsexpanded a:hover {
	color: #BFD7EA;
	transition: 0.5s;
}

.exercises {
	position: relative;
	flex: 1;
	background-color: #BFD7EA;
	cursor: pointer;
}

.exercisesexpanded {
	bottom: 43vh;
	left: 50%;
	display: none;
	width: 40vw;
	height: 30vh;
	z-index: 1;
	padding-top: 2.5em;
	padding-left: 1em;
	background-color: #BFD7EA;
	position: absolute;
}

.exercisesexpanded li {
	line-height: 1.5em;
	}

.exercisesexpanded a:hover {
	color: #FF6663;
	transition: 0.5s;
}

.responses {
	position: relative;
	flex: 1;
	background-color: #FF6663;
	cursor: pointer;
}

.responsesexpanded {
	bottom: 45vh;
	left: 50%;
	display: none;
	width: 40vw;
	height: 25vh;
	z-index: 1;
	padding-top: 2.25em;
	padding-left: 1em;
	background-color: #FF6663;
	position: absolute;
}

.responsesexpanded li {
	line-height: 2em;
	}

.responsesexpanded a:hover {
	color: #CCE848;
	transition: 0.5s;
}

.codeacademy {
	position: relative;
	flex: 1;
	background-color: #CCE848;
	cursor: pointer;
}

.codeexpanded {
	bottom: 50vh;
	left: 55%;
	display: none;
	width: 35vw;
	height: 16vh;
	z-index: 1;
	padding-top: 1.5em;
	padding-left: 1em;
	background-color: #CCE848;
	position: absolute;
}

.codeexpanded li {
	line-height: 2em;
}

.codeexpanded a:hover {
	color: #105e8c;
	transition: 0.5s;
}