h1 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #494949;
	text-align: center;
	line-height: 1em;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #494949;
	letter-spacing: 0.1em;
}

p, ul {
	font-family: 'Work Sans', sans-serif;
	color: #494949;
	font-weight: 400;
	line-height: 1.5em;
}

strong {
	font-weight: 600;
}

em {
	font-style: thin
	font-weight: 300;
}

a:link {
	color: #222323;
}

a:visited {
	color: #516b70;
}

a:hover {
	color: #f9f9f9;

}

.container {
	background-color: #d2eeef;
	width: 20%;
	position: fixed;
	padding: 1em 2em 2em 2em;
	height: 100%;
	min-width: 224px;
	margin-top: 0;
}

.content {
	background-color: #dbdbdb;
	width: 67.5%;
	position: scroll;
	padding: 1em 2em 2em 2em;
	float: left;
	clear: left;
	margin-left: 27%;
	margin-right: 6em;
	margin-bottom: 1.5em;
}

.content2 {
	background-color: #96c8d1;
	width: 67.5%;
	position: scroll;
	padding: 1em 2em 2em 2em;
	float: left;
	clear: left;
	margin-left: 27%;
	margin-right: 6em;
	margin-bottom: 1.5em;
}


#bio {
	text-align: left;
}

ul {
  list-style-type: none;
}

.logo {
	margin: auto;
	display: block;
}

@media screen and (max-width: 1000px){
	 .container {
	 	width: 100%;
	 	height: auto;
	 	padding-right: 2em;
	 	position: relative;
	 	margin-bottom: 1.5em;
	 	min-width: 207px;
	 }

p.container {
	display: inline-block;
	text-align: left;
}

	 .logo {
	 	height: auto;
	 	width: auto;
	 	display: inline-block;
	 	position: relative;
	 	margin-left: auto;
	 	margin-right: auto;
	 }

	 .content {
	 	width: 100%;
	 	position: relative;
	 	margin-left: 0;
	 	min-width: 207px;
	 	height: auto;

	 }
	 .content2 {
	 	width: 100%;
	 	position: relative;
	 	margin-left: 0;
	 	min-width: 207px;
	 	height: auto;
}
