body {
	background-color: #efeade;
	font-family: 'Fauna One', serif;
	color: #3d5156;
}

p, blockquote {
	font-family: 'Fauna One', serif;
}

h1 {
	font-size: 35pt;
	font-family: 'Fauna One', serif;
}

h2 {font-family: 'Fauna One', serif;
}

h3 {
	font-family: 'Fauna One', serif;
	font-size: 20pt;
}

h4 {
	font-family: 'Fauna One', serif;
	color: #3d5156;
}

a {
	text-decoration: none;
	color: #3d5156;
}

a:hover {
	color: #3d5156;
}

i {
	display: inline;
	color: #3d5156;
}

img {
	margin: 1em;
	display: inline-grid;
	position: scroll;
	height: 20em;
	width: 13em;
	box-shadow: 10px 10px 30px #939085;
	z-index: -1;
}

.mainimg {
	transition: 0.5s;
}

.mainimg:hover {
	transform: translateY(-1em);

}

.modalimg {
	float: left;
}

.nav-container {
	background-color: rgba(188, 183, 169, 0.9);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.05em;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
	margin-bottom: 10em;
	z-index: 5;
}

.header {
	padding: 0em 1em 0em 1em;
	display: inline-block;
}

.navigation {
	position: relative;
	display: inline-block;
	justify-content: flex-start;
}

.button {
    background-color: transparent; 
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.button h3 {
	color: #efeade;
}

.dropdown {
	display: none;
	padding: 0.25em;
    position: absolute;
    background-color: rgba(188, 183, 169, 0.9);
    min-width: 160px;
    width: 100%;
    overflow: auto;;
}

.dropdown a {
    padding: 1em;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

.dropdown a:hover {
	background-color: rgba(239, 234, 222, 0.8);
}

.navigation:hover .dropdown {
	display: block;
}

.navigation:hover .button {
	color: rgba(239, 234, 222, 0.8);
}

.sitebody {
	position: scroll;
	align-content: center;
	align-items: center;
	margin: 10em 1em 1em 1em;
}



/*MODALS*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: visible;
 
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 35em;
    height: 25em;
    position: absolute;
    margin: 10% auto;
    padding: 1em 2em;
    background: #efeade;
    overflow: scroll;
    margin: 5em 25% 5em 25%;
    border-radius: 0.5em;

}
.close {
    background: rgb(188, 183, 169);
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    overflow: show;
}
.close:hover {
    background: #efeade;
}

footer {
	width: 100vw;
	display: flex;
	clear: flex;
	align-items: center;
	position: sticky;
}

.sort {
	flex: 1;
	position: absolute;
	margin-bottom: 0;
	margin-left: 1em;
}

.select {
	flex: 0.1;
	position: absolute;
	margin-left: 8em;
}

.form {
	flex: 1;
	position: absolute;
	margin-left: 11em;
}

@media screen and (max-width: 1030px){
	.modalDialog > div {
		position: absolute;
		width: auto;
		height: 100vh;
		margin: 1em;
		padding: 0.5em;
	}
	
}

@media screen and (max-width: 470px){
	.sitebody {
		margin-top: 18em;
		min-width: 365px;
	}

	.nav-container {
		min-width: 365px;
	}

	.navigation {
		width: 100%;
	}

	.button {
		align-content: center;
	}
	
}